---
layout: default
title: 
description: Online resource community for disabled entrepreneurs and business
lang: en
---

<h1>disbiz is a project to encourage disabled people.</h1>

{% for post in site.posts %}
	<article class="article-card">
        <a href="{{ site.url }}{{ post.url }}"><img src="{{ site.url }}/assets/img/posts/{{ post.image }}" title="{{ post.title }}" alt="{{post.image-alt}}"></a>
        <div class="cat">{{ post.categories }}</div>
        <h3>{{ post.title }}</h3>
        <p>{{ post.excerpt | truncate: 150 }}</p>
        <div class="author">
            <span>
                <img src="{{ site.url }}/assets/img/authors/{{post.authorimage}}" alt="{{post.author}}'s Avatar Image'">{{post.author}}
            </span>
        </div>
        
        <div class="readtime">
            {% assign words = post.content | number_of_words %}
            {% if words < 360 %}
                1 min read
            {% else %}
                {{ words | divided_by:180 }} mins read
            {% endif %}
        </div>

        <a href="{{ site.url }}{{ post.url }}" class="button">Read More</a>
    </article>
{% endfor %}