{% include mailinglist.html %}
{% include social-icons.html %}
    
	<aside></aside>
	
    <footer>
		<ul>
			<li><a href="{{site.url}}/about/">about</a></li> |
			<li><a href="{{site.url}}/contact/">contact</a></li> |
			<li><a href="{{site.url}}/sitemap.xml">sitemap</a></li> |
			<li><a href="{{site.url}}/feed.xml">feed</a></li>
			<li></li>
		</ul>
		
		<p>&copy; disBiz &copy;{{site.title}} 2006-{{ site.time | date: '%Y' }}. All Rights Reserved 2020.</p>
    </footer>
	
	<script src="/assets/js/script.js"></script>
</body>
</html>