<section class="mailinglist">
    <h2>Mailing List</h2>
    <p>Interested in having our latest articles in your email so you can read them on the go? add your email and we will do the rest.</p>
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
        <form action="{{site.mailchimp-list}}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
                <div class="mc-field-group">
                  <div class="grid-1">
                    <label for="mce-FNAME" class="fname">Firstname </label>
                    <input type="text" placeholder="Firstname" value="" name="FNAME" id="mce-FNAME">
                  </div>
                  <div class="grid-2">
                    <label for="mce-LNAME" class="lname">Lastname </label>
                    <input type="text" placeholder="Lastname" value="" name="LNAME" id="mce-LNAME">
                  </div>
                  <div class="grid-3">
                    <label for="mce-EMAIL" class="email">Email <span class="asterisk">*</span></label>
                    <input type="email" placeholder="Email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                  </div>
                  <div class="grid-4">
                    <input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe" class="button" style="align-self: end;">
                  </div>
                </div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_5d42a04c2f05a239ea81c1d26_d0a6eb7e9c" tabindex="-1" value="">
                </div>
            </div>
        </form>
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <!--End mc_embed_signup-->	
</section>