<section class="mailing-list mailinglist">
    <h2>Mailing List</h2>
    <p>Interested in having our latest articles in your email so you can read them on the go? add your email and we will do the rest.</p>
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
        <form action="{{site.mailchimp-list}}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
                <div class="mc-field-group">
                    <input type="text" placeholder="First Name:" value="" name="FNAME" class="" id="mce-FNAME">
                    <input type="text" placeholder="Last Name:" value="" name="LNAME" class="" id="mce-LNAME">
                    <input type="email" placeholder="Email Address:" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                    <input type="submit" value="Join Us" name="subscribe" id="mc-embedded-subscribe" class="button">
                </div>
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_5d42a04c2f05a239ea81c1d26_d0a6eb7e9c" tabindex="-1" value="">
                </div>
            </div>
        </form>
    </div>
    <!--End mc_embed_signup-->	
</section>