<section class="social">
    <h2>Follow Us On Social Media</h2>
    <a href="http://www.facebook.com/disbizuk" target="_blank"><img src="/assets/img/social/facebook.png" alt="Facebook link"></a>
    <a href="http://www.twitter.com/disbizuk" target="_blank"><img src="/assets/img/social/twitter.png" alt="Twitter link"></a>
    <a href="http://www.youtube.com/disbizuk" target="_blank"><img src="/assets/img/social/youtube.png" alt="YouTube link"></a>
    <a href="http://www.linkedin.com/company/disbiz" target="_blank"><img src="/assets/img/social/linkedin.png" alt="LinkedIn link"></a>
</section>